@function getBasedOn($background) {
  @if (lightness($background) > 65) {
    @return $text-dark-primary; // Lighter backgorund, return dark color
  } @else {
    @return $text-light-primary; // Darker background, return light color
  }
}

// GENERAL SETTINGS

body {
  background-color: black;
}

.btn {
  @include box-shadow(none);
}

a:hover {
  text-decoration: none;
}

.btn-default {

  &.accent {
    $depth: 3px;
    @include transition(all 0.03s ease-in);
    margin-top: 0;
    margin-bottom: $depth;
    border: 1px solid rgba(black, 0.4);
    //padding: 1em;
    @include box-shadow(0px $depth 0px 0px darken($btn-default-bg, 30%));
    &:hover {
      @include box-shadow(none);
      margin-top: $depth;
      margin-bottom: 0;
      background-color: darken($btn-default-bg, 4%);
    }
  }
}

// HELPERS

.vertical-align {
  display: flex;
  align-items: center;
}