@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400);
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

@function getBasedOn($background) {
  @if (lightness($background) > 65) {
    @return $text-dark-primary; // Lighter backgorund, return dark color
  } @else {
    @return $text-light-primary; // Darker background, return light color
  }
}

section.header {
  height: 14em;
  //background-image: url(../img/header.png);
  //background-position-y: -557px;
  //background-size: cover;

  @include gradient-directional(#f8f8f8, #e6e4e4, 135deg);
  @include box-shadow(inset 0px -12px 37px -16px rgba(0,0,0,0.3));

  .page-caption-background {
    background-color: #1F1F21;
    margin-top: 7em;
    height: 7em;

    .page-caption {
      color: white;
      text-transform: uppercase;
      font-weight: 200;
      font-size: 4em;
      line-height: 10rem;
      font-family: "Roboto Condensed", sans-serif;
      @media (max-width: $screen-md-min) {
        font-size: 3em;
      }
      @media (max-width: $screen-sm-min) {
        font-size: 2.5em;
      }
    }
    hr {
      width: 40%;
    }
  }

}

.colorstripe-container {
  padding-left: 0;
  padding-right: 0;
  .colorstripe {
    display: flex;
    flex-direction: row;
    .colorblock {
      height: 8px;
      flex-grow: 1;

      &.event-standard {
        background-color: $eventStandardColor;
      }
    }

  }
}

.explanation {
  margin-bottom: 6rem;
  background: $eventSuccessColor;
  color: white;
  padding: 2rem;
  border-radius: 3px;
  margin-top: 9px;
}

// Overwrite calendar styling

[class*="cal-cell"]:hover {
  background-color: transparent;
}

[class*="cal-month-day"]:hover {
  background-color: $dayHover;
}

.calendar-header {
  border: none;
  $cal-body-margin: 3rem;

  .current-view {
    font-size: 2.3em;
    font-weight: 200;
    @media (max-width: $screen-md-min) {
      display: block;
      text-align: right;
    }

  }
  .btn-group {
    margin-top: .5em;
    margin-bottom: $cal-body-margin;

    .btn {
      width: 6em;
      //font-family: "Quicksand", sans-serif;
      //font-weight: lighter;
      font-size: 10pt;
      text-transform: uppercase;

      &.outer {
        background-color: $text-dark-secondary;
        color: $text-light-primary;
        &:hover {
          background-color: lighten($text-dark-secondary, 10%);

        }
      }
    }
  }

  .class-selector-col {
    margin-bottom: $cal-body-margin;
  }

  #class-selector {

    /*** custom checkboxes ***/
    input[type=checkbox] {
      position: relative;
      line-height: .8em;
    }
    /* to hide the checkbox itself */
    label > input[type=checkbox]:before {
      position: absolute;
      background-color: #FFFFFF;
      height: 100%;
      width: 100%;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f10c";
      letter-spacing: 10px;
    }
    /* space between checkbox and label */
    label > input[type=checkbox]:checked:before {
      font-family: FontAwesome;
      display: inline-block;
      content: "\f111";
      letter-spacing: 5px;
    }
    /* allow space for check mark */

    .checkbox-inline {
      margin: .2em .6em;
      float: right;

      input:hover {
        cursor: pointer !important;
        cursor: hand !important;
      }

      &.event-standard-selector {
        color: $eventStandardColor;
      }

      &.event-important-selector {
        color: $eventImportantColor;
      }

      &.event-success-selector {
        color: $eventSuccessColor;
      }

      &.event-warning-selector {
        color: $eventWarningColor;
      }

      &.event-info-selector {
        color: $eventInfoColor;
      }

      &.event-inverse-selector {
        color: $eventInverseColor;
      }

      &.event-special-selector {
        color: $eventSpecialColor;
      }

    }

  }
}

#cal-slide-content {
  @include box-shadow(0px 0px 0px 0px rgba(0, 0, 0, 0));
  background-image: none;
  background-color: $calender-slide-background;
  border-bottom: 1px solid darken($calender-slide-background, 5%);
  &:hover {
    background-color: $calender-slide-background;
  }

  li {
    line-height: 2em;
    span.event {
      margin: .6em .7em;
    }
    .cal-hours {
      font-weight: normal;
    }

    a.event-item {
      color: $text-dark-primary !important;
      font-size: 1.1em;
      font-weight: 200;
      &:hover {
        color: lighten($text-dark-primary, 45%) !important;
      }
    }
  }

}

.cal-row-head {
  border-top: 1px solid rgba(black, 0.2);
  padding-top: 1rem;

  [class*="cal-cell"] {
    font-weight: normal !important;
    //background-color: $text-dark-secondary;
    //color: $text-light-primary;
    //line-height: 1em;
  }
}

#cal-day-box {
  .day-event {
    max-width: 150px;
    font-size: 9pt;
    line-height: 1.3em;
    padding: .3em;
  }
}

.cal-month-box {
  border: none;

  .cal-day-outmonth {
    display: none;
  }

  .cal-cell {
    border: none;
    .cal-month-day {
      span {
        font-size: 1.5em !important;
        cursor: default;
      }
      .events-list {
        margin: 2em;
        max-height: 100px;
      }
    }

    .cal-day-today {
      background-color: transparent;
      span {
        background-color: $text-dark-secondary;
        border-radius: 1em;
        width: 1.4em;
        text-align: center;
        color: $text-light-primary !important;
        opacity: 1;
        font-weight: 200;
      }
    }
  }
}

.event {
  @include box-shadow(0px 0px 0px 0px rgba(0, 0, 0, 0));
}