@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400);
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Cookie');

@function getBasedOn($background) {
  @if (lightness($background) > 65) {
    @return $text-dark-primary; // Lighter backgorund, return dark color
  } @else {
    @return $text-light-primary; // Darker background, return light color
  }
}

section.header {
  height: 14em;
  background-color: black;
  background-image: url(../img/about3.jpg);
  background-position-y: -400px;
  background-size: cover;

  .page-caption-background {
    background-color: black;
    margin-top: 3.5em;
    .page-caption {
      color: white;
      text-transform: uppercase;
      font-weight: 200;
    }
    hr {
      width: 40%;
    }
  }

}

// Overwrite calendar styling

[class*="cal-cell"]:hover {
  background-color: transparent;
}

[class*="cal-month-day"]:hover {
  background-color: $dayHover;
}

.page-header {
  border: none;
  height: 130px;

  .current-view {
    font-size: 3em;
    font-weight: 200;
  }
  .btn-group {
    margin-top: 0.6em;
    .btn {
      width: 6em;
      font-family: "Quicksand", sans-serif;
      font-weight: lighter;
      font-size: 14pt;
      text-transform: uppercase;

      &.outer {
        background-color: $text-dark-secondary;
        color: $text-light-primary;
        &:hover {
          background-color: lighten($text-dark-secondary, 10%);

        }
      }
    }
  }

  #class-selector {
    .checkbox-inline {
      margin: 1.5em 0.6em;
      float: right;

      &.event-important-selector {
        color: $eventImportantColor;
      }

      &.event-success-selector {
        color: $eventSuccessColor;
      }

    }

  }
}

#cal-slide-content {
  @include box-shadow(0px 0px 0px 0px rgba(0, 0, 0, 0));
  background-image: none;
  background-color: $calender-slide-background;
  border-bottom: 1px solid darken($calender-slide-background, 5%);
  &:hover {
    background-color: $calender-slide-background;
  }

  li {
    line-height: 2em;
    span.event {
      margin: .6em .7em;
    }
    .cal-hours {
      font-weight: normal;
    }

    a.event-item {
      color: $text-dark-primary !important;
      font-size: 1.1em;
      font-weight: 200;
      &:hover {
        text-decoration: none;
      }
    }
  }

}

.cal-row-head {
  [class*="cal-cell"] {
    font-weight: normal !important;
  }
}

.cal-month-box {
  border: none;

  .cal-day-outmonth {
    display: none;
  }

  .cal-cell {
    border: none;
    .cal-month-day {
      span {
        font-size: 1.5em !important;
      }
      .events-list {
        margin: 2em;
        max-height: 100px;
      }
    }

    .cal-day-today {
      background-color: transparent;
      span {
        background-color: $text-dark-secondary;
        border-radius: 1em;
        width: 1.4em;
        text-align: center;
        color: $text-light-primary !important;
        opacity: 1;
        font-weight: 200;
      }
    }
  }
}

.event {
  @include box-shadow(0px 0px 0px 0px rgba(0, 0, 0, 0));
}