$text-dark-primary: rgba(0, 0, 0, .87);
$text-dark-secondary: rgba(0, 0, 0, .54);
$text-dark-disabled: rgba(0, 0, 0, .38);
$text-light-primary: rgba(255, 255, 255, 1);

$base-color: #324278;
$base-secondary: #636bc9;
$accent-color: #64a3ca;
$interaction-color: #dba13d;


// ------------calendar
$rowHeightMonth: 150px;
$rowHeightYear: 60px;

// Events

// HIPHOP
$eventStandardColor:      #7E51DB;

// BREAKDANCE
$eventImportantColor:     #FF2D55;

// ALLSTYLES TRAININGS
$eventSpecialColor:       #5AC8FA;

// LOCKING/POPPING
$eventInfoColor:          #FF9500;

// HOUSE
$eventWarningColor:       #FF70F5;

// WORKSHOPS, BATTLES & CO.
$eventSuccessColor:       #4CD964;

// OTHER STYLES
$eventInverseColor:       #FFCC00;

$eventHiliteStandart:     #dddddd;
$eventHiliteImportant:    lighten($eventImportantColor, 45%);
$eventHiliteInfo:         lighten($eventInfoColor, 35%);
$eventHiliteWarning:      lighten($eventWarningColor, 40%);
$eventHiliteSuccess:      lighten($eventSuccessColor, 40%);
$eventHiliteInverse:      lighten($eventInverseColor, 65%);
$eventHiliteSpecial:      lighten($eventSpecialColor, 70%);

// MONTH
$rowHover:        #fafafb;
$dayHover:        darken($rowHover, 2%);
$borderColor:     darken($rowHover, 2%);
$borderSize:      1px;
$borderSizehoriz: 1px;
$borderSizevert:  1px;
$borderStyle:     solid;

$eventBorderSize: 0px;
$eventBorderColor: #ffffff;
$eventBorderRadius: 5px;
$eventMargin: 7px;
$eventSize: 10px;

$calendarImagesPath: "../img";

$calender-slide-background: $borderColor;
$background-calendar: white;