$text-dark-primary: rgba(0, 0, 0, .87);
$text-light-primary: rgba(255, 255, 255, 1);

// kanye
$base-color: #324278;
$base-secondary: #636bc9;
$accent-color: #64a3ca;
$interaction-color: #dba13d;
$background-color: $white;