// calendar imports
@import "calendar/grid.scss";
@import "calendar/month.scss";
@import "calendar/week.scss";
@import "calendar/day.scss";
@import "calendar/events.scss";
@import "calendar/theme.scss";
@import "calendar/own_calendar";

section.calendar-section {

  padding-top: 15rem;
  @media (max-width: $screen-md-min) {
    padding-top: 18rem;
  }
  @media (max-width: $screen-xs-min) {
    padding-top: 20rem;
  }
  padding-bottom: 15rem;
  background: white;

}