<div class="btn-group btn-group-justified" id="classSelectors" role="group">
    <div class="btn-group" role="group">
        <a role="button" class="btn btn-default classSelector event-standard-selector"
           data-val="event-standard"><i class="fa"></i> Hip Hop</a>
    </div>
    <div class="btn-group" role="group">
        <a role="button" class="btn btn-default classSelector event-important-selector"
           data-val="event-important"><i class="fa"></i> Breakdance</a>
    </div>
    <div class="btn-group" role="group">
        <a role="button" class="btn btn-default classSelector event-warning-selector"
           data-val="event-warning"><i class="fa"></i> House</a>
    </div>
    <div class="btn-group" role="group">
        <a role="button" class="btn btn-default classSelector event-info-selector"
           data-val="event-info"><i class="fa"></i> Locking / Popping</a>
    </div>
    <div class="btn-group" role="group">
        <a role="button" class="btn btn-default classSelector event-inverse-selector"
           data-val="event-inverse"><i class="fa"></i> All Styles / Other</a>
    </div>
    <div class="btn-group" role="group">
        <a role="button" class="btn btn-default classSelector event-success-selector"
           data-val="event-success"><i class="fa"></i> Workshops & Battles</a>
    </div>
    <div class="btn-group" role="group">
        <a role="button" class="btn btn-default classSelector event-special-selector"
           data-val="event-special"><i class="fa"></i> Open Trainings</a>
    </div>
</div>